<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
    />
    <mat-error>
      <span
        *ngIf="
          stockPickerForm.get('symbol').touched &&
          !stockPickerForm.get('symbol').valid
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>

    <mat-error>
      <span
        *ngIf="
          stockPickerForm.get('period').touched &&
          !stockPickerForm.get('period').valid
        "
      >Please select period</span
      >
    </mat-error>
  </mat-form-field>

  <button (click)="fetchQuote()" mat-raised-button>Go</button>
</form>

<div>{{ errorMessages$ | async }}</div>

<coding-challenge-chart [data]="quotes$ | async"></coding-challenge-chart>
